# Saloni Patel (A4 - 4.6 - 1 of 2 - Combining & Exporting Data)

# Importing Libraries and Data

### Importing Libraries

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Creating Path for ease of code

path = r'C:\Users\psalo\OneDrive\Study\CF - DA Immersion\A4 - Python Fundamentals for Data Analyst\A4 - Instacart Basket Analysis 07-2025'

### Importing Product Prepared Data

In [10]:
# Importing Product Data from Original Data Folder

df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data' , 'Products_cleaned.csv'), index_col = False)
print(f"Number of rows imported: {df_prod.shape[0]}")

Number of rows imported: 49672

### Importing Order Prepared Data

In [3]:
# Importing Clean Order Data from Prepared Data Folder

df_ord = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_cleaned.csv'), index_col = False)
print(f"Number of rows imported: {df_ord.shape[0]}")

Number of rows imported: 3421083

### Importing New Order_Product Data set

In [8]:
# Importing New order_Product Data from Original Data Folder

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.6_orders_products_prior' , 'orders_products_prior.csv'), index_col = False)
print(f"Number of rows imported: {df_ords_prior.shape[0]}")

Number of rows imported: 32434489

### Importing Department Prepared Data  (not run yet in 4.6)

In [17]:
#Importing Department data from Prepared Data Folder

df_deptnew = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

### Info, head() and shape of df_ord and df_ords_prior

In [14]:
df_ord.info

<bound method DataFrame.info of          Unnamed: 0.1  Unnamed: 0  order_id  user_id eval_set  order_number  \
0                   0           0   2539329        1    prior             1
1                   1           1   2398795        1    prior             2
2                   2           2    473747        1    prior             3
3                   3           3   2254736        1    prior             4
4                   4           4    431534        1    prior             5
...               ...         ...       ...      ...      ...           ...
3421078       3421078     3421078   2266710   206209    prior            10
3421079       3421079     3421079   1854736   206209    prior            11
3421080       3421080     3421080    626363   206209    prior            12
3421081       3421081     3421081   2977660   206209    prior            13
3421082       3421082     3421082    272231   206209    train            14

         orders_day_of_week  order_hour_of_day  days_since_last_order
0                         2                  8                    7.0
1                         3                  7                   15.0
2                         3                 12                   21.0
3                         4                  7                   29.0
4                         4                 15                   28.0
...                     ...                ...                    ...
3421078                   5                 18                   29.0
3421079                   4                 10                   30.0
3421080                   1                 12                   18.0
3421081                   1                 12                    7.0
3421082                   6                 14                   30.0

[3421083 rows x 9 columns]>

In [11]:
df_ords_prior.info

<bound method DataFrame.info of           order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]>

In [15]:
df_ord.head(5)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,0,2539329,1,prior,1,2,8,7.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [12]:
df_ords_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
df_ord.shape

(3421083, 9)

In [13]:
df_ords_prior.shape

(32434489, 4)

# Merging df_ord and df_ords_prior

In [18]:
# merging df_ord and df_ords_prior with order_id being the common variable

df_merged_large = df_ord.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
# checking the merged df

df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [22]:
# checking the merged df

df_merged_large.shape

(32434489, 13)

In [24]:
# checking the merged df

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# A4 - 4.6 - Assignment

### 2 - Export the merged file in pickle format as “orders_products_combined.pkl”.

In [26]:
## Exporting PKL version 

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [27]:
## checking # of rows exported to pkl

num_rows = len(df_merged_large)  
print(f"{num_rows} rows exported to PKL.")

32434489 rows exported to PKL.

### Mix Data Types

In [24]:
# Creating a test df

df_test = pd.DataFrame()

In [25]:
# Creating a new column in test df

df_test['mix'] = ['a', 'b', 1, True]

In [26]:
# lets see how new test df looks

df_test

    mix
0     a
1     b
2     1
3  True

In [28]:
# checking if df contains any column with mix values

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [29]:
# change the data type of mix column to str

df_test['mix'] = df_test['mix'].astype('str')

In [30]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mix     4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

### Missing Data

In [32]:
# looking for null values in df_prod

df_prod.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [35]:
# creating a subset with all null values

df_nan = df_prod[df_prod['product_name'].isnull() == True]

In [36]:
# lets see what df_nan looks like. It should have 16 rows

df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [42]:
# median of the df_prod

median_value = df_prod['product_name'].median()

TypeError: Cannot convert ['Chocolate Sandwich Cookies' 'All-Seasons Salt'
 'Robust Golden Unsweetened Oolong Tea' ... 'Artisan Baguette'
 'Smartblend Healthy Metabolism Dry Cat Food' 'Fresh Foaming Cleanser'] to numeric

In [41]:
df_prod['product_name'].fillna(median value, inplace=True)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1110056025.py, line 1)

In [43]:
df_prod.shape

(49693, 5)

In [44]:
# creating a subset with clean data

df_prod_clean = df_prod[df_prod['product_name'].isnull() == False]

In [45]:
# check out the subset

df_prod_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

### Duplicate Data

In [60]:
# creating a subset for duplicates

df_dups = df_prod_clean[df_prod_clean.duplicated()]

In [61]:
# checking the duplicate subset to see how many rows are in that subset 

df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [62]:
# checking the stats of the df_dup

df_dups.shape

(5, 5)

In [63]:
# checking the stats of the df_prod_clean

df_prod_clean.shape

(49677, 5)

In [64]:
# dropping duplicates 

df_prod_clean_no_dups = df_prod_clean.drop_duplicates()

In [66]:
# checking the stats of the df_prod_clean_no_dups . it should have 5 less rows than df_prod_clean

df_prod_clean_no_dups.shape

(49672, 5)

### Exporting df_prod_clean_no_dups as a Product_cleaned.csv in Prepared Data section

In [67]:
# exporting product data in Prepared folder

df_prod_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Products_cleaned.csv'))

In [81]:
# describe on df_ord

df_ord.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [82]:
# checking if df_ord contains any column with mix values

for col in df_ord.columns.tolist():
  weird = (df_ord[[col]].map(type) != df_ord[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ord[weird]) > 0:
    print (col)

In [83]:
# I took help of Gemini to see if this code can be better understood and it came up with the following

for col in df_ord.columns:
    types = df_ord[col].apply(type)
    if types.nunique() > 1:
        print(col)

In [84]:
# looking for null values in df_ord

df_ord.isnull().sum()

Unnamed: 0                    0
order_id                      0
user_id                       0
eval_set                      0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

In [86]:
# creating a subset with all the missing values from col. 'days_since_last_order'

df_ord_nan = df_ord[df_ord['days_since_last_order'].isnull() == True]

In [98]:
# lets see the subset. It has 206209 rows with NaN in days_since_last_order column

df_ord_nan

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,NaN
11,11,2168274,2,prior,1,2,11,NaN
26,26,1374495,3,prior,1,1,14,NaN
39,39,3343014,4,prior,1,6,11,NaN
45,45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,prior,1,4,12,NaN
3420934,3420934,3189322,206206,prior,1,3,18,NaN
3421002,3421002,2166133,206207,prior,1,6,19,NaN
3421019,3421019,2227043,206208,prior,1,1,15,NaN
3421069,3421069,3154581,206209,prior,1,3,11,NaN

In [90]:
#lets replce the missing value NaN with 7 as 50% of the records have 7 as the value for this variable

df_ord['days_since_last_order'].fillna(7, inplace=True)

C:\Users\psalo\AppData\Local\Temp\ipykernel_4592\438755366.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ord['days_since_last_order'].fillna(7, inplace=True)

In [91]:
df_ord

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,7.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,prior,10,5,18,29.0
3421079,3421079,1854736,206209,prior,11,4,10,30.0
3421080,3421080,626363,206209,prior,12,1,12,18.0
3421081,3421081,2977660,206209,prior,13,1,12,7.0
3421082,3421082,272231,206209,train,14,6,14,30.0

In [97]:
#checking if the change has been done

df_ord.info

<bound method DataFrame.info of          Unnamed: 0  order_id  user_id eval_set  order_number  \
0                 0   2539329        1    prior             1
1                 1   2398795        1    prior             2
2                 2    473747        1    prior             3
3                 3   2254736        1    prior             4
4                 4    431534        1    prior             5
...             ...       ...      ...      ...           ...
3421078     3421078   2266710   206209    prior            10
3421079     3421079   1854736   206209    prior            11
3421080     3421080    626363   206209    prior            12
3421081     3421081   2977660   206209    prior            13
3421082     3421082    272231   206209    train            14

         orders_day_of_week  order_hour_of_day  days_since_last_order
0                         2                  8                    7.0
1                         3                  7                   15.0
2                         3                 12                   21.0
3                         4                  7                   29.0
4                         4                 15                   28.0
...                     ...                ...                    ...
3421078                   5                 18                   29.0
3421079                   4                 10                   30.0
3421080                   1                 12                   18.0
3421081                   1                 12                    7.0
3421082                   6                 14                   30.0

[3421083 rows x 8 columns]>

In [96]:
# all order_number with 1 as a value should have 7 as days_since_last_order 

df_ord[df_ord['order_number']==1]

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,7.0
11,11,2168274,2,prior,1,2,11,7.0
26,26,1374495,3,prior,1,1,14,7.0
39,39,3343014,4,prior,1,6,11,7.0
45,45,2717275,5,prior,1,3,12,7.0
...,...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,prior,1,4,12,7.0
3420934,3420934,3189322,206206,prior,1,3,18,7.0
3421002,3421002,2166133,206207,prior,1,6,19,7.0
3421019,3421019,2227043,206208,prior,1,1,15,7.0
3421069,3421069,3154581,206209,prior,1,3,11,7.0

In [103]:
# creating a subset with clean order data

df_ord_clean = df_ord[df_ord['days_since_last_order'].isnull() == False]

In [102]:
# lets see the subset with clean order data

df_ord_clean

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,7.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,prior,10,5,18,29.0
3421079,3421079,1854736,206209,prior,11,4,10,30.0
3421080,3421080,626363,206209,prior,12,1,12,18.0
3421081,3421081,2977660,206209,prior,13,1,12,7.0
3421082,3421082,272231,206209,train,14,6,14,30.0

In [104]:
# creating a subset for order data duplicates

df_ord_dups = df_ord_clean[df_ord_clean.duplicated()]

In [105]:
# checking the duplicate subset to see how many rows are in that subset 

df_ord_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []