# Saloni Patel (A4 - 4.6 - 2 of 2 - Combining & Exporting Data)

# Importing Libraries and Data

### Importing Libraries

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Creating Path for ease of code

path = r'C:\Users\psalo\OneDrive\Study\CF - DA Immersion\A4 - Python Fundamentals for Data Analyst\A4 - Instacart Basket Analysis 07-2025'

# A4 - 4.6 - Assignment

### 3 - Importing Data

### Importing Prepared Product Data

In [3]:
# Importing Prepared Product Data from Prepared Data Folder

df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Products_cleaned.csv'), index_col = False)
print(f"Number of rows imported: {df_prod.shape[0]}")

Number of rows imported: 49672

### Importing 'orders_products_combined.pkl' from Prepared Data

In [4]:
# Importing 'orders_products_combined.pkl' from Prepared Data

df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
print(f"Number of rows imported: {df_ords_prods_comb.shape[0]}")

Number of rows imported: 32434489

### 4 - Check the shape of the imported dataframe. Along with shape I am also checking data types and head()

### Checking the imported data shape

In [5]:
# Checking the Product Data Shape

df_prod.shape

(49672, 6)

In [6]:
# Checking the Merged Data Shape

df_ords_prods_comb.shape

(32434489, 13)

### Checking the imported data types

In [7]:
# Checking the Product Data Types

df_prod.dtypes

Unnamed: 0         int64
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [8]:
# Checking the Merged Data Types

df_ords_prods_comb.dtypes

Unnamed: 0.1                int64
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_last_order     float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
_merge                   category
dtype: object

### Checking the imported data head()

In [9]:
# Checking the Product Data Head

df_prod.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Checking the df_ords_prods_comb Head

df_ords_prods_comb.head(5)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

### 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

1. I have already imported correct and cleaned Product data set in step # 3
2. Column 'Unnamed: 0' should be removed from df_prod as these are not needed
3. Columns 'Unnamed: 0.1' , 'Unnamed: 0' and '_merge' should be removed from df_ords_prods_comb as first two are not needed and the laste one will be recreated following the new merge function
4. The common variable is 'product_id' in both df_prod and df_ords_prods_comb
5. The new combined df will be named 'df_ords_prods_merge'

#### Column 'Unnamed: 0' should be removed from df_prod

In [11]:
#Drop the column

df_prod = df_prod.drop(['Unnamed: 0'], axis=1)

In [12]:
#Check the df after dropping a column

df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### Columns 'Unnamed: 0.1' , 'Unnamed: 0' and '_merge' should be removed from df_merged_large

In [13]:
#Drop the columns

df_ords_prods_comb = df_ords_prods_comb.drop(['Unnamed: 0' , 'Unnamed: 0.1' , '_merge'], axis=1)

In [14]:
#Check the df after dropping the columns

df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,7.0,196,1,0
1,2539329,1,prior,1,2,8,7.0,14084,2,0
2,2539329,1,prior,1,2,8,7.0,12427,3,0
3,2539329,1,prior,1,2,8,7.0,26088,4,0
4,2539329,1,prior,1,2,8,7.0,26405,5,0

#### Merging 'df_prod' and 'df_ords_prods_comb' with common varibale 'product_id'

In [15]:
#Merging 'df_prod' and 'df_ords_prods_comb' with common varibale 'product_id'

df_ords_prods_merge = df_prod.merge(df_ords_prods_comb, on = 'product_id', indicator = True)

#### Checking newly created 'df_ords_prods_merge'

In [17]:
# Check the newly created 'df_ords_prods_merge'

df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [18]:
#checking the shape of df_ords_prods_merge

df_ords_prods_merge.shape

(32404859, 15)

### 6 - Confirm the results of the merge using the merge flag

In [19]:
# Confirming the merge result 

df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

### 7 - Exporting 'df_ords_prods_merge' as pkl file in Prepared Data folder

In [20]:
# Exporting 'df_ords_prods_merge' as pkl file in Prepared Data folder 

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))